.Headers{
  font-family: "Copperplate Gothic Light";
  font-style: italic;
  font-size: 70px;
  color: #263238;
}

.Background{
  //background-color:  #263238 ;
  background-color: #EFEFEF;
  text-align: center;
  padding: 30px;
}